[Unit]
Description=Start Disconnected ENI Service
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/start-eni
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
