[Unit]
Description=Start Disconnected ENI Service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/start-eni

[Install]
WantedBy=multi-user.target
